Degree in Information Technology, Computer Science or related discipline preferred
Preferably some experience in IT leadership quality
Some knowledge of ERP, SAP is preferable
Preferably some experiences in IT infrastructure implementation such as security measures, server consolidation
Preferably some experiences in application implementation such as SAP, Salesforce, individual application
Good knowledge of Japanese language would be a plus
Expected to travel within Asia Pacific region : 50 -70%