Bachelor Degree / Diploma in IT with at least 5 years working experience of which 2 years in a manager role;Excellent organisational skills;Excellent analytical and problem solving skills;Understanding of complex information and requirements;Good prioritisation skills and be flexible enough to adapt plans;Good evaluation skills;Good communications & presentation skills - written and verbal;Great IT skills combined with a good head for business;Confidence in decision-making;A good team-playing mentality;Good leadership skills;An ability to work to tight deadlines and within constraints.Above all, we are looking for a person with passion, great attitude, ability to adapt and learn. Successful candidate will have a promising career path within the Group.