Degree in computer science or equivalent is preferredMinimum of 2 years of IT business analyst / Project manager experiencesExperiences in one or more of the following skillsets: Node.JS, React, Agile implementation, AI Chatbot, trading systemKnowledge of the fintech or financial industry is an advantage