Bachelor's degree in Computer Science/Engineering/Information Systems or related discipline
At least 5 years of network infrastructure experience
At least 5 years of Linux and Windows server experience and 3 years of AWS Cloud management experience
Good understanding of Active directory services
Sound knowledge in security framework such as PCI
Able to work well across functional departments