Degree in Computer / Computer Science or Engineering or Business or equivalent.
Minimum 15 years' relevant experience in the Infocomm industry with strong understanding of ICT industry and the players in the industry.
Good knowledge of ICT industry best practices, system, processes and methodologies.
Strong user management and customer servicing skills.
Proven IT project/outsourcing management/IT Service Management and team leadership skills.
Effective communicator with people at all levels.