Able to build trust and rapport with key stakeholders and project staff through solution competency as well as sound reasoning in recommendations or proposals.Demonstrated aptitude to quickly absorb domain knowledge as well as relate them to IT implications.Ability to manage dynamic changes in policy and business environment, as well as address complex issues in a structured manner.Experience with hands-on IT programme management, business analysis techniques.Experience in IT costing, procurement or budgeting.Excellent written & spoken communications, communicates effectively with all levels of management, supplier partners and stakeholders.Degree or equivalent in one of the following: Information Systems, Informatics, Business or Management