Degree in Computer Science or Information Technology or equivalentMinimum 3 – 5 years of project management experience, managing digital or IT projectsStrong analytical and problem-solving skills and process-orientedProject Management related certification such as CITPM, COMIT or PMI will be an added advantageExcellent leadership, communication (written, verbal and presentation) and clearly articulate complex messages and requirements in EnglishAccreditation in AWS and with AWS CertificationThrive in a diverse, fast paced environmentThose who has strong technical knowledge and has agency’s experience is highly desirable