Bachelor’s Degree or Diploma in Architecture, Construction, Material Management, Purchasing Management, Business Administration or its equivalent.
10 years’ experience in procurement for Fit-Out projects, Architecture, Interior Design industries, specifically for workplace projects.
Very Good knowledge of usual IT tools (Microsoft office, Word, Excel, Powerpoint, eProcurement System etc)
Tech-savvy experienced in adopting digital technology and good negotiating skills.