Bachelor Degree in Accounting or Business Administration or equivalent. IT knowledge or experience would be an advantage.Minimum 5 years of relevant working experience in managing IT function.Strong team player across a matrix organisatio, suppliers and in a geographically dispersed virtual team.Demonstrate effective problem solving and analytical skills i.e. proactively seek continuous improvement.Possess strong communication and interpersonal skills.Meticulous and demonstrate high quality work.Experience working in a MNC environment.