Degree/Diploma in Computer Science, Computer Engineering or Information Technology
Comfortable in scripting and programming
Proven record and share examples of working as a team player
Pro-active, dynamic, dedicated and responsible self-starter with strong customer orientation and multi-tasking capabilities
Singaporean