BS or MS degree in Computer Science or related technical fieldMin 4 years experience in professional software engineeringProficient in PHP, MySQL/MongoDB, HTML5, CSS3, Javascript and experienced in React Native frameworkExperience in database architecture design is a plusDesire to be involved in product definition and motivated by using technology to solve real world problemsWillingness to learn, teach, share and step out of your comfort zone