Degree or equivalent in Computer Science, Electrical Engineering, or other related technical discipline
A real passion for working in Agile and have exposure to quality disciplines such as, TDD and test automation
Strong exposure working in software development, mainly full stack web frameworks and exposure to more recent technologies
HTML5, AngularJS, ReactJS, NodeJS, Java, etc.
Proven ability to successfully deliver quality, complex systems within a fast-moving environment
Ability to build and maintain excellent relationships with stakeholders
Knowledge in application architecture and design
Ability to build robust user interfaces
No need for banking/finance background – passionate technologists are the driving force for this position