Degree (and above) in Information Technology, Computer Science, Statistics, Applied Mathematics, Business Analytics, or equivalent quantitative fields preferred.
7+ years’ experience in building and optimizing ‘big data’ data pipelines, architectures and datasets.