Experience in Java & J2EEKnowledge on HTML, CSS, REST API, Spring, Hibernate, StrutsAble to design and build applications in Java Spring and REST API frameworkInvolved in Designing, implementing, and maintaining Java applications