You are based in Singapore with at least 5 years of experience in data engineering
You are fluent in Java/Scala and hands-on experience with distributed databases
You have a solid experience in deploying machine learning techniques to improve and solve business problems