In collaboration with domain subject matter experts, interpret and develop solutions to business problems using advanced data feature engineering and machine learning techniques.Develop new analytical methods and tools as required.Contribute to data management architectures, modelling standards, reporting, and data analysis methodologies.Work with IT and software engineers to develop, integrate, and deploy predictive analytics models for the purposes of growing the front end of the business.