Master degree of Science Computer Science, Physics, Math, Statistics or equivalent experience
3+ years’ experience with data mining, machine learning, statistical modeling tools and underlying algorithms
Experience of 3+ real data mining projects
Rich experience with relational databases, ER modeling, and SQL
Rich experience with data mining tools like SAS/SPSS/Matlab/R etc.
Programming skills & experience, preferably have Python/Java/C++ experience
Rich industrial experience, preferably have experience in Internet/Telco/Finance/Retail industry
Strong conceptual and quantitative problem solving skills and ability to think creatively
Strong passion for big data and data analysis, to apply data analysis to solve a business problem in real world
Must be self-motivated, results driven, and able to work with minimum supervision
Excellent presentation and communication skills with customers