Bachelor’s Degree in Operations Research, Econometrics, Statistics, Computer Science or similar relevant field
2 years of experience in Big Data Analytics / Customer experience / Call center
2 years of hands on experience with Big Data ETL processes, Data visualization, Data Exploring Algorithms
2 years of experience with Data Management, Analytical tools, Vistualization tools (e.g. R, Python, Tableau)
Critical thinker and problem-solving skills
Great interpersonal and communication skills